In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv(r'/Users/aritroochowdhury/Workspace/MLOps May2023/Dataset/car data.csv')

In [3]:
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
X = pd.get_dummies(data.drop('Selling_Price',axis=1))
X

,Year,Present_Price,Kms_Driven,Owner,Car_Name_800,Car_Name_Activa 3g,Car_Name_Activa 4g,Car_Name_Bajaj ct 100,Car_Name_Bajaj Avenger 150,Car_Name_Bajaj Avenger 150 street,...,Car_Name_vitara brezza,Car_Name_wagon r,Car_Name_xcent,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,2014,5.59,27000,0,False,False,False,False,False,False,...,False,False,False,False,False,True,True,False,False,True
1,2013,9.54,43000,0,False,False,False,False,False,False,...,False,False,False,False,True,False,True,False,False,True
2,2017,9.85,6900,0,False,False,False,False,False,False,...,False,False,False,False,False,True,True,False,False,True
3,2011,4.15,5200,0,False,False,False,False,False,False,...,False,True,False,False,False,True,True,False,False,True
4,2014,6.87,42450,0,False,False,False,False,False,False,...,False,False,False,False,True,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,2016,11.60,33988,0,False,False,False,False,False,False,...,False,False,False,False,True,False,True,False,False,True
297,2015,5.90,60000,0,False,False,False,False,False,False,...,False,False,False,False,False,True,True,False,False,True
298,2009,11.00,87934,0,False,False,False,False,False,False,...,False,False,False,False,False,True,True,False,False,True
299,2017,12.50,9000,0,False,False,False,False,False,False,...,False,False,False,False,True,False,True,False,False,True
300,2016,5.90,5464,0,False,False,False,False,False,False,...,False,False,False,False,False,True,True,False,False,True

In [5]:
y = data['Selling_Price']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [8]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [9]:
model.fit(X_train,y_train)

LinearRegression()

In [10]:
data['Selling_Price']

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [11]:
y=model.predict(X_test)

In [12]:
y

array([ 1.49446493,  9.59312092,  5.50516683, -0.4095819 ,  8.56493036,
        6.89302323,  1.47689194,  0.26665651,  0.98105956,  6.69330853,
        9.68710785,  0.29480718,  7.9731867 ,  2.10395872,  6.1290099 ,
        2.70033242,  2.72446736, 10.99660213,  1.80235878,  2.59753987,
       -0.4165907 ,  7.63116983,  5.58411096,  1.8831557 ,  0.28473959,
        3.48616076,  5.48032703,  1.59963827,  2.68179458,  2.67724474,
       -0.0339118 ,  9.12867077, -2.33496105,  1.98125387,  8.36949291,
        3.99084948,  6.09525948,  6.17794581,  4.28193757,  6.75086878,
        5.49957398,  2.39274121,  3.67337038,  0.2586008 ,  7.11615529,
        0.04469645,  8.34787059,  9.56050728,  3.9023379 ,  4.04126191,
        5.84908401,  2.70147499, 22.94469896, 20.62101035,  7.24440658,
        9.83565807,  4.59009615,  8.92107953,  0.03878204,  6.61690799,
        3.67195876])

In [13]:
model.score(X_train,y_train)

0.9496973435247781

In [14]:
import pickle

In [15]:
with open("carmodel","wb") as file:
    pickle.dump(model,file)